* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#navigation {
    margin: 20px auto;
    max-width: 1200px;

}
body::-webkit-scrollbar {
 display: none;
}
.logo {
    width: 50%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-items a{
    text-decoration: none;
    display: inline;
    margin-right:25px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    text-align: left;
    color: #777C85;
}
.nav-btn {
    background-color: #4E5DC0;
    width: 165px;
    height: 54px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;

}
/* main-section */
#main {
    max-width: 1200px;
    margin: 100px auto;
   
}
.container {
    display: flex;
    gap: 50px;
   
}


.second-container {
    display: flex;
    margin-top: 150px;
    gap: 50px;
}

.heading-hr {
    max-width: 280px;
    background-color: #00000080;
    margin-top: 10px;
    margin-bottom: 20px;
}


 h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}
p {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    
    text-align: left;
    color: #777C85;
} 
.img{
    width: 38%;
}


/* Footer  */

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left:80px ;
    margin-right: 70px;
    margin-top: 85px;
}
.footer-container p {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #777C85;
   
}
.footer-logo {
    width: 30%;
}
.contact-us {
    width: 185px;
    height: 32px;
}
.address {
    margin-bottom: 40px;
}
h3 {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #4E5DC0;
    margin-bottom: 10px;
    margin-top: 16px;
}
.list li {
    list-style: none;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #777C85;
}
.social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.privacy {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* hover states */
.nav-items a:hover {
    text-decoration: underline;
    color: #4E5DC0;
}
.nav-btn:hover {
    color: black;
}
.fa-twitter:hover {
    color: #4E5DC0;
}
.fa-instagram:hover {
    color: #4E5DC0;
}
.fa-facebook:hover {
    color: #4E5DC0;
}
/* media queries */

@media (max-width:1220px) {
    #main {
        margin: 20px 16px;
    }
    #navigation {
      margin: 20px 10px;
    }
}
@media (max-width:950px) {
   
    .footer-container {
       margin-top: 10px;
    }
    .footer-container p, .list li {
        font-size: .85rem;
    }

    p {
        font-family: 'Raleway';
        font-size: 1rem;
        font-weight: 400;
        line-height: 30px;
        
        text-align: left;
        color: #777C85;
    }
    .footer-container {
        margin-left: 0px;
        margin-right: 0px;
    }
   
}
@media (max-width:800px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .second-container {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .img {
        width: 60%;
    }

    
}
@media (max-width:650px) {
    .nav-items a {
        display: none;
    }
    .footer-container p {
        font-size: .75rem;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        
    }
    .social-media {
        margin-top: 8rem;
    }
    .privacy {
        font-size: .5rem;
    }
}
